h1 {
  color: #2c3e50;
  text-align: center;
}

p {
  text-align: center;
  color: #34495e;
  font-size: 1.2rem;
  margin: 20px 0;
}

.users-page {
  text-align: center;
}

.users-page a{
  display: inline-block;
  margin: 10px;
  margin-top: 50px;
  padding: 10px 15px;
  background-color: #1db954;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
}

.users-page a:hover {
  background-color: #535353;
}
